---
layout: page
title: 首页
---
<div class="row">
{% for post in paginator.posts %}
	<div style="border: thin #ccc solid;">
	页面描述： {{ post.description }}        <br>
	详细链接： {{ site.url }}{{ post.url }}   <br>
	作者:  {{ site.author.name }}	<br>
	发布于 : {{ post.date | date:"%Y年%m月%d日" }} 	<br>
	分类:   {% for category in post.category %} 
			    {{ category }}
			{% endfor %}   <br>
	标签: {% for tag in post.tags %} 
	   		   {{ tag }}
		  {% endfor %}    <br>
		  
    </div>
{% endfor %}
  <hr>
  
  --{{site.locals.home}} ---- {{site.locals.content}}   <br>
  --{{site.url}} ---- {{site.links.aboutlink}} 		<br>
  --{{site.constants.language}}		<br>
  
  <hr>
  {{site.author}} 
  {% if site.test1 %} <b>site.test1 is ok</b> {% endif %}
  
</div>
<hr />
<ul>
	<li>每个页面中头部定义的title不能使用变量
	<pre>
		---
		layout: page
		title: {{site.title}}
		---
	</pre> 
	</li>
	<li>
		
	</li>
</ul>

