
*{
			backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
		}
		html,body{
			height: 100%;
			width: 100%;
			background-color: #f9f9f9;
		}
		.align-center{
			text-align: center;
		}
		.small-txt{
				font-size: 0.85rem;
			}
		.txt-underline{
			display: block;
			width: 100%;
			margin-bottom: 20px;
		}
		.txt-underline:after{
			content: ' ';
			display: block;
			width: 100%;
			height: 1px;
			background-color: #999;
			position: relative;
			bottom: -0.5rem;
			left: 0;
			margin-bottom: 1rem;
		}
		.divider{
			clear: both;
			width: 100%;
			display: block;
			text-align: center;
			font-family: "微软雅黑";
			line-height: 1.4rem;
		}
		.divider.xsdivider{
			height: 5px;
		}
		.divider.sdivider{
			height: 10px;
		}
		.divider.mdivider{
			height: 20px;
		}
		.divider.ldivider{
			height: 30px;
		}
		/*================================= page wraper ================================*/
			#page-wrapper {
				background-color: #f0f0f0;
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
				height: 100%;
				width: 100%;
			}
			/* ============================== header & nav ==================================*/
			@-moz-keyframes reveal-header {
				0% {
					top: -5em;
				}
				100% {
					top: 0;
				}
			}
			@-webkit-keyframes reveal-header {
				0% {
					top: -5em;
				}
				100% {
					top: 0;
				}
			}
			@-ms-keyframes reveal-header {
				0% {
					top: -5em;
				}
				100% {
					top: 0;
				}
			}
			
			@keyframes reveal-header {
				0% {
					top: -5em;
				}
				100% {
					top: 0;
				}
			}
			@keyframes scaled {
				0% {transform: scale(1); }
				25%{transform: translate(1.2);}
				50%{transform: scale(0.9);}
				75%{transform: scale(1.1);}
				100% {transform: scale(1);}
			}
			#header{
				position: absolute;
				left: 0;
				top: 0;
				color: #fff;
				width: 100%;
				z-index: 9999;
			}
			#header.reveal {
				-moz-animation: reveal-header 0.5s;
				-webkit-animation: reveal-header 0.5s;
				-ms-animation: reveal-header 0.5s;
				animation: reveal-header 0.5s;
				position: fixed!important;
			}
			#header.alt {
				-moz-animation: none;
				-webkit-animation: none;
				-ms-animation: none;
				animation: none;
				background: none;
			}
			#header.reveal #nav{
				background: rgba(255, 255, 255, 0.9);
				box-shadow: 0px 1px 2px rgba(30, 30, 30, 0.2);
				border-bottom: solid #ccc thin;
				color: #555;
				height: 3rem;
			}
			#header.reveal #nav #nav-list, #header.reveal #nav #logo{
				line-height: 3rem;
			}
			#nav {
				position: relative;
				left: 0;
				top: 0;
				height: 4rem;
				width: 100%;
			}
			.nav-wraper {
				height: inherit;
				width: 100%;
			}
			
			#logo,
			#nav-list {
				position: absolute;
				line-height: 4rem;
				font-family: "微软雅黑";
			}
			
			#logo {
				left: 1rem;
				font-size: 2rem;
				font-family: "微软雅黑";
			}
			#logo:hover{
				animation: scaled 0.3s ease-in-out;
				-moz-animation: scaled 0.3s ease-in-out;
				-webkit-animation: scaled 0.3s ease-in-out;
				-ms-animation: scaled 0.3s ease-in-out;
				backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
			}
			
			#nav-list {
				right: 1rem;
				//font-family: "arial black";
			}
			
			#nav-list .nav-item {
				/* == #nav-list > ul li */
				position: relative;
				float: left;
				margin: 0 0.5rem;
				padding: 0 0.5rem;
				display: inline-block;
				height: 100%;
			}
			
			#nav-list .nav-item a {
				padding: 0.5rem;
				height: 3rem;
				width: 100%;
				border: solid thin rgba(0,0,0,0);
			}
			
			#nav-list .nav-item:hover a{
				text-shadow: 0 0 3rem #fff;
				background-color: rgba(220,220,220,0.25);
				border: solid thin #CCC;
				border-radius: 5px;
				color: #f99988;/*6ce*/
			}
			
			#nav-list .nav-item ul {
				display: none;
				position: absolute;
				top: 3.8rem;
				left: 0;
				color: #333;
				border: solid thin #ccc;
				border-radius: 5px;
				background-color: #fff;
			}
			/*
			 #nav-list .nav-item:hover ul {
				display: block;
				transform: rotate(6deg);
				-moz-transform: rotate(6deg);
				-ms-transform: rotate(6deg);
				-webkit-transform: rotate(6deg);
			}
			#nav-list .nav-item ul li {
				float: left;
				width: 100%;
				line-height: 2rem;
			}
			#nav-list .nav-item ul li a {
				margin: 0;
				padding: 0 0.5rem;
			}
			#nav-list .nav-item ul li a:hover {
				background-color: #f96;
				color: #fff;
			}
			*/
			/* jQuery.dropotron
			 * https://github.com/n33/jquery.dropotron 
			 */
			@keyframes dou {
				0% {
					transform: rotate(0deg);
				}
				25%{
					transform: rotate(-6deg);
				}
				50%{
					transform: rotate(0deg);
				}
				75%{
					transform: rotate(6deg);
				}
				100% {
					transform: rotate(0deg);
				}
			}
			@-ms-keyframes dou {
				0% {
					transform: rotate(0deg);
				}
				25%{
					transform: rotate(-6deg);
				}
				50%{
					transform: rotate(0deg);
				}
				75%{
					transform: rotate(6deg);
				}
				100% {
					transform: rotate(0deg);
				}
			}
			@-moz-keyframes dou {
				0% {
					transform: rotate(0deg);
				}
				25%{
					transform: rotate(-6deg);
				}
				50%{
					transform: rotate(0deg);
				}
				75%{
					transform: rotate(6deg);
				}
				100% {
					transform: rotate(0deg);
				}
			}
			.dropotron {
				background: #fff;
				border-radius: 6px;
				box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px rgba(229, 229, 229, 0.5);
				list-style: none;
				margin: calc(-0.5em + 1px) 0 0 1px;
				padding: 0.5rem 0;
				width: 8rem;
				animation:dou ease-out .2s, 100ms;
				-ms-animation: dou ease-out .2s, 100ms;
				-moz-animation: dou ease-out .2s, 100ms;
				animation-fill-mode :forwards;
				-ms-animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				transform-origin: center top ;
				-ms-transform-origin: center top;
				-moz-transform-origin: center top; 
			}
			
			.dropotron li {
				padding: 0;
			}
			
			.dropotron li a,
			.dropotron li span {
				-moz-transition: none;
				-webkit-transition: none;
				-ms-transition: none;
				transition: none;
				border: 0;
				border-top: solid 1px #f2f2f2;
				color: #555;
				display: block;
				padding: 0.35rem 1rem;
				font-family: inherit;
			}
			
			.dropotron li:first-child > a,
			.dropotron li:first-child > span {
				border-top: 0;
			}
			
			.dropotron li.active > a,
			.dropotron li.active > span,
			.dropotron li:hover > a,
			.dropotron li:hover > span {
				background: #e89980;
				color: #ffffff;
			}
			
			.dropotron.level-0 {
				font-size: 1rem;
				margin: 1rem 0 0 0;
			}
			
			.dropotron.level-0:before {
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				background: #fff;
				border: solid 1px rgba(229, 229, 229, 0.5);
				border-bottom: 0;
				border-right: 0;
				box-shadow: -0.25em -0.125em 0.125em 0 rgba(0, 0, 0, 0.015);
				content: '';
				display: block;
				height: 0.75em;
				position: absolute;
				right: 2rem;
				top: -0.375em;
				width: 0.75em;
				z-index: 0;
			}
			/* nav button */
			#navButton {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				position: fixed;
				top: 0;
				height: 44px;
				width: 100%;
				z-index: 10001;
			}
			
			#navButton .toggle {
				text-decoration: none;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				border: 0;
				outline: 0;
			}
			#navButton .toggle:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: icomoon;
				background: rgba(109, 109, 109, 0.75);
				border-radius: 5px;
				color: #fff;
				content: '\f0c9';
				display: block;
				font-size: 1.4rem;
				text-align: center;
				text-transform: none !important;
				height: 2.2rem;
				line-height: 2.2rem;
				width: 3rem;
				display: block;	
				left: 0.5rem;	
				top: 0.5rem;		
			}
			
			/* created nav pannel and animate */
			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #2b2b2b;
				color: #bbb;
			}
			
			#navPanel .link {
				border-bottom: 0;
				border-top: solid 1px rgba(255, 255, 255, 0.05);
				color: #bbb;
				display: block;
				height: 44px;
				line-height: 44px;
				padding: 0 1em 0 1em;
				text-decoration: none;
			}
			
			#navPanel .link:first-child {
				border-top: 0;
			}
			
			#navPanel .link.depth-0 {
				color: #fff;
			}
			
			#navPanel .link .indent-1 {
				display: inline-block;
				width: 1em;
			}
			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}
			
			body.navPanel-visible #navButton {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}
			
			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}
			
			/* ============================== banner ==================================*/
			#hd-banner {
				position: relative;
				text-align: center;
				color: white;
				height: 100%;
				width: 100%;
			}
			#hd-banner .hd-bg{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-position: center;
				background-image: url('../img/hbg01.jpg');
				background-color: #273C4F;  
				background-size: cover;
				/*background: url('../img/hbg01.jpg'),url('../img/bg200150.jpg') ;
				background-position: center center,top left;
				background-repeat: no-repeat,no-repeat;
				background-size: cover,cover;*/
				/*
				-webkit-filter: blur(1px); 
       	-moz-filter: blur(1px);
        -ms-filter: blur(1px);   
        filter: blur(1px);
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='public/img/hbg01', sizingMethod='scale');// for < ie9 
			*/
			}
			
			.hd-txt {
				position: relative;
				text-align: center;
				font-family: "微软雅黑";
				width: 70%;
				min-width: 385px;
				margin: 0 auto;
				padding-top: 20%;
				transform: scale(0.9) ;
			}
			.scalefloat{
				transform: scale(1) ;
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				transition: transform 20s ease-in-out;
				-moz-transition: transform 20s ease-in-out;;
				-ms-transition: transform 20s ease-in-out;;
			}
			.hd-txt,.scalefloat{
				backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
			}
			.hd-txt h1{
				margin-bottom: 2rem;
				line-height: 2.5rem;
			}
			.hd-txt p{
				line-height: 1.4rem;
				margin-bottom: 1rem;
			}
			
			/*============================= main container ==================================*/
			#main{
				text-align: center;
				font-family: "微软雅黑";
				font-size: 3rem;
			}
			#one,#two,#three{
				width: 100%;
				height: 300px;
			}
			#one{
				background: #69c;
			}
			#two{
				background: #6c6;
			}
			#contact{
				height: 200px;
				background: #f0f0f0;
			}
			/* footer */
			#footer{
				position: relative;
				height: auto;
				line-height: 1.4rem;
				background: #333;
				color: #999;
				text-align: left;
				font-family:"consolas"; /*century gothic */
			}
			#footer a{
				color: #3B8DAF;
			}
			#footer .last{
				margin-bottom: 20px;
			}
			
			/*================================== Media Queries =========================================*/
			/*小屏手机*/
			@media screen and (max-width: 700px) {
				#header {
					display: none;
				}
				#hd-banner {
					height: 450px;
				}
			}
			/*高分辨率手机，平板横屏，笔记本全屏*/
			@media screen and (min-width: 700px) and (max-width:1366px) {
				#navButton {
					display: none;
				}
				/*#hd-banner {
					min-height: 600px;
				}*/
			}
			/*电脑显示器全屏*/
			@media screen and (min-width: 1366px) {
				#navButton {
					display: none;
				}
				#hd-banner {
					height: 900px;
				}
			}