
/* header slider */
@-moz-keyframes reveal-header {
	0% {
		top: -5em;
	}
	100% {
		top: 0;
	}
}

@-webkit-keyframes reveal-header {
	0% {
		top: -5em;
	}
	100% {
		top: 0;
	}
}

@-ms-keyframes reveal-header {
	0% {
		top: -5em;
	}
	100% {
		top: 0;
	}
}

@keyframes reveal-header {
	0% {
		top: -5em;
	}
	100% {
		top: 0;
	}
}

@keyframes scaled {
	0% {
		transform: scale(1);
	}
	25% {
		transform: translate(1.2);
	}
	50% {
		transform: scale(0.9);
	}
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

/* logo scale */
@keyframes dou {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-6deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(6deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@-ms-keyframes dou {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-6deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(6deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@-moz-keyframes dou {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-6deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(6deg);
	}
	100% {
		transform: rotate(0deg);
	}
}