<!-- header -->
			<header id="header" class="ani-flag ">
				<!-- nav -->
				<nav id="nav">
					<div class="nav-wraper">
						<div id="logo">
							{{ site.title }}
						</div>
						<div id="nav-list">
							<ul>
								<li class="nav-item"> <a href="/index.html"> Home </a> </li>
								<li class="nav-item">
									<a href="#"> Categories <span class="icon icon-angle-down"></span></a>
									<ul>
										<li> <a href="#"> Developer </a> </li>
										<li> <a href="#"> CG </a> </li>
										<li> <a href="#"> Digital </a> </li>
										<li> <a href="#"> Life </a> </li>
										<li> <a href="#"> Essay </a> </li>
									</ul>
								</li>
								<li class="nav-item"> <a href="{{ site.links.aboutlink }}"> About </a> </li>
								<li class="nav-item"> <a href="{{ site.links.contactlink }}"> Contact </a> </li>
							</ul>
						</div>
					</div>
				</nav>
			</header>