<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.author.blogname }}</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/"><i class="icon-home icon-white"></i> {{ site.locals.home }} </a></li> 
        <li><a href=" {{ site.links.categorylink }} "><i class="icon-th-large icon-white"></i> {{ site.locals.category }} </a></li> 
        <li><a href="{{ site.links.tagslink}}"><i class="icon-tags icon-white"></i> {{ site.locals.tags }} </a></li> 
        <li><a href=" {{ site.links.archivelink }} "><i class="icon-file icon-white"></i> {{ site.locals.archive }} </a></li> 
        <li><a href=" {{ site.links.aboutlink }} "><i class="icon-user icon-white"></i> {{site.locals.about}} </a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-exchange"></i> {{site.constants.othersite}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.author.link }}">CSDN</a></li>
            <li><a href="{{ site.author.lofter }}">lofter</a></li>
          </ul>
        </li>
      </ul>
    </div>  
  </div>
</nav>