@import url(http://libs.cdnjs.net/font-awesome/4.7.0/css/font-awesome.min.css);
/*@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600");*/
@import url(button.css);
@import url(form.css);
@import url(icon-image.css);
@import url(list.css);
/*@import url(media.css);*/
@import url(resetme.css);
@import url(toolkit.css);

/* Wrapper */

.page-wrapper {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
}

.wrapper {
    position: relative;
}

.wrapper > .inner {
    margin: 0 auto;
    width: 60em;
}

/* header nav Menu */

header {
    font-weight: 700;
    position: relative;
}

header nav {
    font-size: 12pt;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    padding: 0;
    text-align: Center;
    margin-bottom: 1em;
}

header nav ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    /*font-size: 1.5em;*/
}

header nav ul li a span {
    vertical-align: super;
    margin-left: 1rem;
}

header nav ul li a:hover {
    color: white;
}

header nav ul li a.active {
    color: #19B5FE;
}

header nav#nav {
    background: #0d1217;
    z-index: 10002;
    position: relative;
    width: 3.5rem;
    height: 100%;
}

header nav#nav ul {
    position: fixed;
    top: 1em;
    left: 0;
}

header nav#nav ul li {
    width: 3.5em;
}

header #nav-narrow {
    display: none;
}

header #nav-narrow .menus {
    display: none;
}

.typed-cursor {
    opacity: 1;
    font-weight: 900;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Main */

#main {
    background: #f1f1f1;
    width: 100%;
}

/*
#main #header {
    background: #e6e6e6;
    padding: 1.15em 3.5em;
    text-align: right;
}

#main #header h1 {
    margin: 0;
    font-size: 1em;
}*/

/* Banner */

body.is-loading #banner > .inner {
    opacity: 0;
    -moz-transform: translateY(1em);
    -webkit-transform: translateY(1em);
    -ms-transform: translateY(1em);
    transform: translateY(1em);
}

#banner {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    padding: 8em 0 6em 0;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 75vh;
    height: 100vh;
    position: relative;
    background: #000;
    background-image: url(../../images/banner03.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #FFF;
}

#banner:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    content: '';
    display: block;
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#banner .title {
    display: block;
    position: relative;
    color: #fff;
}

#banner .inner {
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -moz-transition: opacity 1s ease, transform 1s ease;
    -webkit-transition: opacity 1s ease, transform 1s ease;
    -ms-transition: opacity 1s ease, transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    opacity: 1;
    z-index: 3;
    padding: 3em 2em 0 2em;
    background: rgba(240, 240, 240, 0.4);
    width: 400px;
    height: 500px;
}

#banner h1 {
    font-size: 2.25em;
    line-height: 1em;
    margin: 1em 0 0 0;
    padding: 0;
    color: #FFF;
}

#banner h1 + p {
    font-size: 1em;
    margin-top: 0.3em;
    margin-bottom: 0;
    color: #e1e1e1;
}

#banner p {
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0;
}

/*#banner p:last-child {
    margin-top: 2.5em;
    color: red;
}*/

#banner a {
    color: #FFF;
    text-decoration: none;
}

#banner .avatar img {
    display: block;
    height: 220px;
    width: 220px;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 0 0.6rem #e1e1e1;
}

#banner .actions {
    color: #e1e1e1;
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
}

/**
  latest
*/
#latest {

}

/*
  comment
*/
#comment {
    height: 30vh;
    width: 100%;
    display: block;
    background: none;
    background: #000;
    background-image: url(../../images/banner03.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/* About */

#about {
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background: #ececec;
}

#about form {
    margin: 0;
}

#about .icons {
    margin-bottom: 1em;
}

#about .column {
    padding: 3.5em 3.5em 1.5em;
    width: 50%;
}

#about .column.social {
    background: #e6e6e6;
}

@media screen and (max-width: 980px) {

    #about .column {
        padding: 2em 2em 0.1em;
    }

}

@media screen and (max-width: 736px) {

    #about .column {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {

    #about .column {
        padding: 1em 1em 0.1em;
    }

}

@-moz-keyframes gallery {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes gallery {
    100% {
        opacity: 1;
    }
}

@-ms-keyframes gallery {
    100% {
        opacity: 1;
    }
}

@keyframes gallery {
    100% {
        opacity: 1;
    }
}

.gallery {
    padding: 3.5em;
    position: relative;
    overflow: hidden;
    min-height: 37em;
}

@media screen and (max-width: 980px) {

    .gallery {
        padding: 2em;
        min-height: 20em;
    }

    .gallery header h2 {
        margin-bottom: 1em;
    }

}

.gallery header {
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.gallery header.special {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

@media screen and (max-width: 736px) {

    .gallery header {
        display: block;
    }

}

.gallery footer {
    text-align: center;
    margin-top: 4em;
}

.gallery .content {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
}

.gallery .content .media {
    -moz-animation: gallery 0.75s ease-out 0.4s forwards;
    -webkit-animation: gallery 0.75s ease-out 0.4s forwards;
    -ms-animation: gallery 0.75s ease-out 0.4s forwards;
    animation: gallery 0.75s ease-out 0.4s forwards;
    margin-bottom: 0;
    overflow: hidden;
    opacity: 0;
    position: relative;
    width: 25%;
}

.gallery .content .media a {
    display: block;
}

.gallery .content .media img {
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.gallery .content .media:hover img {
    -moz-transform: scale(1.075);
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
}

@media screen and (max-width: 736px) {

    .gallery .content .media {
        width: 100%;
    }

}

/* Section/Article */

section.special, article.special {
    text-align: center;
}

section .inner, article .inner {
    padding: 3.5em 3.5em 1.5em;
}

section .columns, article .columns {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

section .columns.double .column, article .columns.double .column {
    width: 48%;
}

@media screen and (max-width: 980px) {

    section .columns.double .column, article .columns.double .column {
        width: 100%;
    }

}

/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: solid 1px;
    border-left: 0;
    border-right: 0;
}

table td {
    padding: 0.75em 0.75em;
}

table th {
    font-size: 0.9em;
    font-weight: 700;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 2px;
}

table tfoot {
    border-top: solid 2px;
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px;
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

/* Footer */

#footer {
    padding: 4em 0 2em 0;
    background: #f2f2f2;
}

#footer .copyright {
    color: #bfbfbf;
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0 1em;
    text-align: center;
}
