---
layout: base
---
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-info">
      <div class="panel-heading">
      <h2>{{ page.title }}</h2>
      <p>
      	{{site.author.name}} <a href="{{ site.links.aboutlink }}">{{ site.author.name }}</a> 
      	{{ site.constants.postat }} <a href='/pages/archive.html#{{ page.date | date:"%Y-%m"}}'>
      	{{ page.date | date:"%Y-%m-%d" }}</a> 
      	{{ site.locals.category }}: 
      	{% for category in page.category %} 
      		<a href="/pages/categories.html#{{ category }}">{{ category }}</a>
		{% endfor %}  
		{{ site.locals.tags }}: 
		{% for tag in page.tags %} <a href="/pages/tags.html#{{ tag }}">#{{ tag }}#</a>
		 {% endfor %}
		</p>
      </div>
      <div class="panel-body content" id="content">
        <blockquote>{{ page.description }}</blockquote>
        {{ content }}
      </div>
    </div>
    <hr>
    <div class="post_foot_meta">
     <!-- {% include duoshuo.html %}  -->
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="side_nav aside" data-spy="affix" data-offset-top="0">
        <div class="panel panel-success">
          <div class="panel-heading"> 
          		{{site.locals.content}}
          </div>
          <div class="panel-body" id="nav"></div>
        </div>
      </div>
    </div>  
  </div>
</div>
<script>
  $(function(){
    $("#content > h2,#content > h3,#content > h4,#content > h5,#content > h6").each(function(i) {
        var current = $(this);
        current.attr("id", "title" + i);
        tag = current.prop('tagName').substr(-1);
        $("#nav").append("<div style='margin-left:"+15*(tag-1)+"px'><a id='link" + i + "' href='#title" +i + "'>" + current.html() + "</a></div>");
    });
    $("pre").addClass("prettyprint linenums");
    prettyPrint();
  });
</script>
